# .env.example
# To run this locally, setup a .env file with these values

# Local path for where to output Leads
TARGER_SHEET_NAME="Leads.xlsx"

# Local path for the search plan Excel file
SOURCE_SHEET_NAME="SearchPlan.xlsx"
